html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, hgroup, menu, nav, section {
	display: block;
}


ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.intro {
    width: 100%;
    height: 100vh;
    background-image: url(./images/intro/mountains-free-travel-landing-page-psd-template.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.header {
	width: 100%;
	background-color: rgb(255, 255, 255, 0.5);
	padding-top: 20px;
	padding-bottom: 20px;
}

.container {
	max-width: 1140px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 20%;
}

.nav__link {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	position: relative;
	display: inline-block;
	vertical-align: bottom;
	margin: 10px;
	padding: 4px;
	color: #b0bec4;
	text-decoration: none;
	transition color: 0.2s: ;
}

.nav__link:after {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background-color: #36aeea;
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 1;
}

.nav__link:hover:after {
	display: block;
}

.button {
	display: inline-block;
	text-decoration: none;
	color: #3eb1ea;
	background: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	border: 3px solid #3eb1ea;
	border-radius: 5px;
	padding: 14px 40px;	
}

.button:hover {
	text-decoration: none;
	color: #fffefe;
	background: #3eb1ea;
	box-shadow: 0 0 5px #3eb1ea;	
}

.button:active {
	transform: translateY(1px);
	filter: saturate(150%);
}

.border_section {
	border: 3px #fff;

}

.TrevelWithUs_text {
	max-width: 1100px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 9%;
	margin-left: 21%;

.TrevelWithUs_text h1	{
	
}

}

.button_OrderNow {
	font-family: 'Raleway', sans-serif;
	display: inline-block;
	text-decoration: none;
	color: #fffefe;
	background: #3eb1ea;
	font-size: 12px;
	text-transform: uppercase;
	border: 3px solid #3eb1ea;
	border-radius: 5px;
	padding: 25px 75px;	
}

.Text_Lorem {
	font-family: 'Open Sans', sans-serif;
	color: #fffefe;
	padding-top: 15px;
}


.button_OrderNow:hover {
	text-decoration: none;
	color: #3eb1ea;
	background: none;	
	border: 3px solid #3eb1ea;
	box-shadow: 0 0 5px;
}

.button_OrderNow:active {
	transform: translateY(1px);
	filter: saturate(150%);

