html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, hgroup, menu, nav, section {
	display: block;
}


ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	border: none;
}

@font-face {font-family: "Bringin";
	src: url("./fonts/Bringin/Bringin.eot"); /* IE9*/
	src: url("./fonts/Bringin/Bringin.otf") format("embedded-opentype"), /* IE6-IE8 */
	url("./fonts/Bringin/Bringin.woff2") format("woff2"), /* chrome、firefox */
	url("./fonts/Bringin/Bringin.woff") format("woff"), /* chrome、firefox */
	url("./fonts/Bringin/Bringin.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url("./fonts/Bringin/Bringin.svg") format("svg"); /* iOS 4.1- */
  }

/* header */

.intro {
    width: 100%;
	min-height: 700px;
    background-image: url(./images/intro/mountains-free-travel-landing-page-psd-template.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.header {
	width: 100%;
	background-color: rgb(255, 255, 255, 0.5);
	padding-top: 20px;
	padding-bottom: 20px;
	position: fixed;
	
}

.header_logo {
	padding-left: 19px;
}

.container {
	max-width: 1140px;
	display: flex;
	justify-content: space-between;
	align-items: center;
    margin: 0 auto;
}

.nav__link {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	position: relative;
	display: inline-block;
	vertical-align: bottom;
	margin: 10px;
	padding: 4px;
	color: #b0bec4;
	text-decoration: none;
}

.nav__link a {
	color: #b0bec4;
	text-decoration: none;
}

.nav__link a:hover {
	color: #8d9294;
	text-decoration: none;
}

.nav__link a:after {
	color: #b0bec4;
	text-decoration: none;
}

.nav__link a:active {
	color: #b0bec4;
	text-decoration: none;
	transform: translateY(1px);
	filter: saturate(150%);
}

.nav__link:after {
	content: "";
	width: 100%;
	height: 2px;
	background-color: #36aeea;
	transition-delay: 4s;
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 1;
}

.nav__link:hover:after {
	display: block;
}

.button {
	display: inline-block;
	text-decoration: none;
	color: #3eb1ea;
	background: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	border: 3px solid #3eb1ea;
	border-radius: 5px;
	padding: 14px 40px;	
	letter-spacing: 2px;
	cursor: pointer;
}

.button:hover {
	text-decoration: none;
	color: #fffefe;
	background: #3eb1ea;
	box-shadow: 0 0 5px #3eb1ea;
	transform: scale(1.1);
	transition: .5s;	
}

.button:active {
	transform: translateY(1px);
	filter: saturate(150%);
}



/* TrevelWithUs__Section */


.container_2 {
	padding-top: 221px;
}

.TrevelWithUs_text {
	max-width: 1064px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 0 auto;
	padding: 25px 35px 35px 35px;
	border: 3px solid #fff;
}

.TrevelWithUs_text h1 {
	font-size: 50px;
	color: #fff;
	font-family: 'Open Sans', sans-serif; 
	letter-spacing: 5px;
	font-weight: bold;
	text-transform: uppercase;
}

.TrevelWithUs_text h1 span {
	font-size: 66px;
	color: #56c7ff;
	text-transform: none;
	font-family: "Bringin";
	font-weight: lighter;
	display: block;
	margin-top: -45px;
	letter-spacing: 1px;
}

.Text_Lorem {
	font-family: 'Open Sans', sans-serif;
	color: #c3cdd3;
	font-size: 18px;
	max-width: 435px;
	margin-top: -5px;
	margin-bottom: 20px;
}


.button_OrderNow {
	font-family: 'Raleway', sans-serif;
	display: inline-block;
	text-decoration: none;
	color: #fffefe;
	background: #3eb1ea;
	font-size: 12px;
	text-transform: uppercase;
	border: 3px solid #3eb1ea;
	border-radius: 5px;
	padding: 25px 75px;	
	letter-spacing: 2px;
	cursor: pointer;
}


.button_OrderNow:hover {
	text-decoration: none;
	color: #3eb1ea;
	background: none;	
	border: 3px solid #3eb1ea;
	box-shadow: 0 0 5px;
	transition: .5s;
}

.button_OrderNow:active {
	transform: translateY(1px);
	filter: saturate(150%);
}


/* About Us __Section */

.about__section {
	background-color: #f6f4f4;
	min-height: 670px;
}

.container_3 {
	max-width: 1140px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 0 auto;
	padding: 200px 15px 15px;
}
.background {
	background: url(./images/AboutUs/Map_AboutUs.png) no-repeat;
	background-position: 100px 15px;
}

.AboutUs {
	flex: 1;
	flex-basis: 35%;
	font-family: 'Open Sans', sans-serif;
	max-width: 360px;
	margin-top: -5px;
	margin-bottom: 20px;
}

.line-wave::before {
	content: "";
	background: url('./images/all_pictures/waves.png') no-repeat;
	background-size: contain;
	display: block;
	height: 7px;
	margin-bottom: 35px;
}

.AboutUs .title_little {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	color: #050505;
}

.AboutUs .little {
	color: #b5b4b4;
	font-size: 14px;
	padding-top: 15px;
	line-height: 25px;
}

.AboutUs_BigPicture {
	margin-left: auto;
	position: absolute;
	top: 662px;
	right: 170px;

}

.AboutUs_SmallPicture {
	margin-left: auto;
	position: absolute;
	top: 975px;
	right: 715px;
}

.AboutUs .btn {
	margin-top: 20px;
	font-family: 'Raleway', sans-serif;
	display: inline-block;
	text-decoration: none;
	color: #fffefe;
	background: #3eb1ea;
	font-size: 12px;
	text-transform: uppercase;
	border: 3px solid #3eb1ea;
	border-radius: 5px;
	padding: 15px 24px;	
	letter-spacing: 2px;
	cursor: pointer;
}

.AboutUs .btn:hover {
	text-decoration: none;
	color: #3eb1ea;
	background: none;	
	border: 3px solid #3eb1ea;
	box-shadow: 0 0 5px;
	transition: .5s;
}


/* Our Journal __Section */

.OurJournal__Section {
	background-color: #ffffff;
	min-height: 1165px;
}


.container_4 {
	max-width: 1140px;
	justify-content: center;
	align-items: center;
	padding: 70px 15px 15px;
	margin: 0 auto;
}


.title_center::before {
	content: "";
	background: url('./images/all_pictures/waves.png') no-repeat;
	background-size: contain;
	display: block;
	height: 7px;
	margin-bottom: 35px;
	background-position: center;
}

.title_center {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	padding-bottom: 70px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 2px;
	color: #050505;
}

.table_OurJournal {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	font-size: 33.3%;
	box-shadow: 0 0 8px 5px #f4f4f4;
	position: relative;
}

.text_OurJournal {
	min-height: 380px;
	width: 380px;
	word-wrap: break-word;
}

.text_OurJournal p {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	align-content: center;
	padding-left: 59px;
	padding-right: 59px;
	margin: auto;
	left: 0;
}

.text_OurJournal .blue_text {
	text-transform: uppercase;
	padding-top: 47px;
	font-size: 12px;
	font-weight: bold;
	color: #16b5ef;
	letter-spacing: 2px;
}


.text_OurJournal .title_text {
	padding-top: 56px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}


.text_OurJournal .small_text {
	padding-top: 28px;
	font-size: 14px;
}


.text_OurJournal .number_text {
	padding-top: 40px;
	font-size: 12px;
	font-style: oblique; 
}

.text_OurJournal .title_two {
	padding-left: 70px;
	padding-right: 70px;
}

.text_OurJournal .title_four {
	padding-left: 80px;
	padding-right: 80px;
}

.text_OurJournal .title_six {
	padding-left: 115px;
	padding-right: 115px;
}

.text_OurJournal span {
	text-decoration: line-through;
}

.arrow_left {
	width: 0;
	height: 0;
	position: absolute;
	border-right: 10px solid #ffffff;
	border-bottom: 10px solid transparent;
	border-top: 10px solid transparent;
	margin-top: 50px;
	margin-left: 372px;
}

.arrow_top {
	width: 0;
	height: 0;
	position: absolute;
	border-bottom: 10px solid #ffffff;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	margin-top: 371px;
	margin-left: 815px;
}

.arrow_right {
	width: 0;
	height: 0;
	position: absolute;
	border-left: 10px solid #ffffff;
	border-bottom: 10px solid transparent;
	border-top: 10px solid transparent;
	margin-top: 432px;
	margin-left: 379px;
}

/* Do_You_Wanna_Go __Section */

.doyouwannago {
    width: 100%;
	min-height: 670px;
    background-image: url(./images/DoYouWannaGo/background.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.container_5 {
	max-width: 1140px;
	justify-content: center;
	align-items: center;
	padding: 145px 15px 15px;
	margin: 0 auto;
	
}

.Do_You_Wanna_Go {
    flex: 1;
    flex-basis: 35%;
    font-family: 'Open Sans', sans-serif;
    margin-top: -5px;
	margin-bottom: 20px;
	max-width: 860px;
}

.Do_You_Wanna_Go .title_little {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
	color: #050505;
}

.Do_You_Wanna_Go .little {
    color: #b5b4b4;
    font-size: 14px;
	line-height: 25px;
}

.Do_You_Wanna_Go ._one {
	padding-top: 15px;
	max-width: 360px;
}

.Do_You_Wanna_Go ._two {
	padding-bottom: 28px;
}

.button_form {
	display: inline-block;
	text-decoration: none;
	color: #ffffff;
	background-color: #3eb1ea;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	border: 3px solid #ffffff;
	border-radius: 5px;
	padding: 23px 50px;	
	letter-spacing: 2px;
	cursor: pointer;
}

.button_form:hover {
	background-color: #3494c4;
}

.button_form:active {
	transform: translateY(1px);
	filter: saturate(150%);
}

.form {
	background-color: white;
}

.input_form {
	width: 300px;
	padding-left: 20px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	padding-top: 17px;
	padding-bottom: 17px;
	color: #848484;
}

.before_stripe {
	content: "";
	background: url('./images/HowWeWork/Stripe.png') no-repeat;
	background-size: contain;
}

.Your_data {
	max-width: 255px;
}

.Your_data .locked_before {
	margin-top: 18px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #36aeea;
	float: right;
}

.Your_data .Locked_img {
	display: block;
	margin-top: 18px;
	float: left;
}


/* How_we_work __Section */


.container_6 {
	max-width: 1140px;
	padding: 70px 0px 100px 0px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.text_center {
	padding-bottom: 90px;
}

.table_How_we_work {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	font-size: 33.3%;
}

.text_How_we_work {
	min-height: 100px;
	width: 285px;
	word-wrap: break-word;
}

.text_How_we_work img {
	padding: 0px 0px;
	padding-left: 50px;
	padding-right: 50px;
}

.text_How_we_work .img_small {
	padding-left: 118px;
	padding-right: 118px;
}


.before_stripes::before {
	content: "";
	background: url('./images/HowWeWork/stripes_white_green.png');
	background-repeat: space;
	display: block;
	height: 2px;
	margin-bottom: -24px;
	background-position: center;
}

.before_stripes::after {
	content: "";
	background: url('./images/HowWeWork/stripes_white_green_vertical.png');
	background-repeat: repeat-y;
	display: block;
	height: 60px;
	background-position: center;
}


.text_How_we_work p {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	align-content: center;
	padding-left: 30px;
	padding-right: 30px;
	margin: auto;
	left: 0;
}


.text_How_we_work .title_text {
	padding-top: 25px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}


.text_How_we_work .small_text {
	font-size: 14px;
}

.text_How_we_work .title {
	padding-left: 15px;
	padding-right: 15px;
}


/* Travel With Us __Section */

.container_7 {
	max-width: 1140px;
	justify-content: center;
	align-items: center;
	padding: 0px 15px 15px;
	margin: 0 auto;	
}

.Travel_With_Us__Section {
	width: 100%;
	margin: 0 auto;
	max-width: 1475px;
	min-height: 670px;
	background-image: url(./images/TravelWithUs/worldmap-dots.png);
	background-position-y: 15px;
    background-repeat: no-repeat;
}

.Travel_With_Us {
	width: 100%;
	min-height: 1030px;
	background-image: url(./images/TravelWithUs/bg_travelwithus.png);
	background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}



/* Gallery_Section __Section */

.Gallery .text_top_position {
	padding: 70px 15px 15px 15px;
}

.container_8 {
	max-width: 1140px;
	margin: 0 auto;
}

.grid_pictures {
	display: grid;
	grid-template-columns: 278px 380px 472px;
	grid-template-rows: 365px 310px 300px;
}



/* Our_Clients_Say __Section */

.Our_Clients_Say {
	min-height: 1280px;
	background-image: url(./images/OurClientsSay/mountains-back.png);
	background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.container_9 {
	max-width: 1140px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
