html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, hgroup, menu, nav, section {
	display: block;
}


ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	border: none;
}

@font-face {font-family: "Bringin";
	src: url("./fonts/Bringin/Bringin.eot"); /* IE9*/
	src: url("./fonts/Bringin/Bringin.otf") format("embedded-opentype"), /* IE6-IE8 */
	url("./fonts/Bringin/Bringin.woff2") format("woff2"), /* chrome、firefox */
	url("./fonts/Bringin/Bringin.woff") format("woff"), /* chrome、firefox */
	url("./fonts/Bringin/Bringin.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url("./fonts/Bringin/Bringin.svg") format("svg"); /* iOS 4.1- */
  }

/* header */

.intro {
    width: 100%;
	min-height: 100vh;
    background-image: url(./images/intro/mountains-free-travel-landing-page-psd-template.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.header {
	width: 100%;
	background-color: rgb(255, 255, 255, 0.5);
	padding-top: 20px;
	padding-bottom: 20px;
	position: fixed;
	
}

.container {
	max-width: 1140px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 18%;
}

.nav__link {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	position: relative;
	display: inline-block;
	vertical-align: bottom;
	margin: 10px;
	padding: 4px;
	color: #b0bec4;
	text-decoration: none;
}

.nav__link:after {
	content: "";
	width: 100%;
	height: 2px;
	background-color: #36aeea;
	transition-delay: 4s;
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 1;
}

.nav__link:hover:after {
	display: block;
}

.button {
	display: inline-block;
	text-decoration: none;
	color: #3eb1ea;
	background: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	border: 3px solid #3eb1ea;
	border-radius: 5px;
	padding: 14px 40px;	
	letter-spacing: 2px;
	cursor: pointer;
}

.button:hover {
	text-decoration: none;
	color: #fffefe;
	background: #3eb1ea;
	box-shadow: 0 0 5px #3eb1ea;
	transform: scale(1.1);
	transition: .5s;	
}

.button:active {
	transform: translateY(1px);
	filter: saturate(150%);
}



/* TrevelWithUs__Section */


.container_2 {
	padding: 35px;
}

.TrevelWithUs_text {
	max-width: 1140px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 9%;
	margin-left: 15%;
	padding: 25px 35px 35px 35px;
	border: 3px solid #fff;
}

.TrevelWithUs_text h1 {
	font-size: 50px;
	color: #fff;
	font-family: 'Open Sans', sans-serif; 
	letter-spacing: 5px;
	font-weight: bold;
	text-transform: uppercase;
}

.TrevelWithUs_text h1 span {
	font-size: 66px;
	color: #56c7ff;
	text-transform: none;
	font-family: "Bringin";
	font-weight: lighter;
	display: block;
	margin-top: -45px;
	letter-spacing: 1px;
}

.Text_Lorem {
	font-family: 'Open Sans', sans-serif;
	color: #c3cdd3;
	font-size: 18px;
	max-width: 435px;
	margin-top: -5px;
	line-height: 25px;
	margin-bottom: 25px;
}


.button_OrderNow {
	font-family: 'Raleway', sans-serif;
	display: inline-block;
	text-decoration: none;
	color: #fffefe;
	background: #3eb1ea;
	font-size: 12px;
	text-transform: uppercase;
	border: 3px solid #3eb1ea;
	border-radius: 5px;
	padding: 25px 75px;	
	letter-spacing: 2px;
	cursor: pointer;
}


.button_OrderNow:hover {
	text-decoration: none;
	color: #3eb1ea;
	background: none;	
	border: 3px solid #3eb1ea;
	box-shadow: 0 0 5px;
	transition: .5s;
}

.button_OrderNow:active {
	transform: translateY(1px);
	filter: saturate(150%);
}


/* About Us __Section */


.AboutUs {
	max-width: 1140px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 9%;
	margin-left: 18%;

}

.AboutUs {

}

.AboutUs__img {
	margin-left: 18%;

}








/* Our Journal __Section */